extend ../componentes/template.pug
block contenidos 
    section.intro 
      .intro__image: img(src="", alt="")
      .intro__content 
        h2 #{titulos[0]}
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quas eligendi amet! Eum ex cum minima. Aliquid fuga dolorem pariatur corrupti. Necessitatibus enim sint libero distinctio, maiores mollitia magnam quis? 
          span sdhfgsjhfgsadjhfgsdfgasjhfgsajhfgsajhfg
        a.boton Leer Más
    main.contenido 
      +caja('roca_1', titulos[1], 'Hola mundo')
      +caja('laptop_lenovo', titulos[2], 'El dia es de 24 horas')
      +caja('caja_vacia', titulos[3], 'Se vende una caja vacia para llenarla de sueños')
