.articulo--principal {
  max-width: 660px;
  width: 80vw;
  margin: 0 auto;
  h2 {
    margin: 40px 0 40px 0;
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    color: @color-secundario;
  }
}
