.intro {
  position: relative;
  width: 100%;
  max-height: 650px;
  height: calc(50vw + 75px);
  padding: 10px;
  margin: 0 auto;
  &__imagen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-secundario);
    .sombra-caja;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__contenido {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 10vw;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-claro);
  }
  &__categoria {
    .oswald;
    color: fade(white, 50%);
  }
  &__titulo {
    max-width: 750px;
    width: 80vw;
    margin: 0 auto;
    font-family: var(--fuente-2);
    text-transform: uppercase;
    font-size: var(--fuente-grande);
    line-height: calc(var(--fuente-grande) + 1rem);
  }
  &__autor {
    width: 150px;
    margin: 0 auto;
    position: absolute;
    top: calc(50vw + 5px);
    left: 0;
    right: 0;
    color: var(--color-claro);
    img {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
      border-radius: 10px;
    }
    span {
      display: inline-block;
    }
    &-titulo {
      color: fade(white, 50%);
    }
  }
}
