doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="")
    title Platzi Games
  body 
    header 
      h1 Platzi Games
      a.boton(href="#") Registro
    section.intro 
      .intro__image: img(src="", alt="")
      .intro__content 
        h2 Titulo Principal
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam quas eligendi amet! Eum ex cum minima. Aliquid fuga dolorem pariatur corrupti. Necessitatibus enim sint libero distinctio, maiores mollitia magnam quis? 
          span sdhfgsjhfgsadjhfgsdfgasjhfgsajhfgsajhfg
        a.boton Leer Más 
