.sombra-caja {
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.25);
}
.oswald {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #333333;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.intro {
  position: relative;
  width: 100%;
  max-height: 650px;
  height: calc(50vw + 75px);
  padding: 10px;
  margin: 0 auto;
}
.intro__imagen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #8841da;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.25);
}
.intro__imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.intro__contenido {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 10vw;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
.intro__categoria {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  width: 80vw;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.intro__autor {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: calc(50vw + 5px);
  left: 0;
  right: 0;
  color: #ffffff;
}
.intro__autor img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}
.intro__autor span {
  display: inline-block;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
}
.articulo--principal {
  max-width: 660px;
  width: 80vw;
  margin: 0 auto;
}
.articulo--principal__intro {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.articulo--principal h2 {
  margin: 40px 0 40px 0;
  text-align: center;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.articulo--principal h3 {
  color: #8841da;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contenedor--cajas {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.caja {
  max-width: 350px;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.25);
}
.caja__imagen img {
  display: block;
  width: 100%;
}
.caja__contenido {
  padding: 25px;
  background-color: #8841da;
}
.caja span {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.caja a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
