.estadistica--perfil {
  display: flex;
  width: 90%;
  max-width: 400px;
  height: 90px;
  padding-top: 20px;
  margin: 0 auto;
  justify-content: space-around;
  @include caja;
  h2 {
    font-weight: 600;
    text-align: center;
    @include titulos($fuente-2);
  }
  span {
    font-size: 1.2rem;
    text-align: center;
    @include titulos($fuente-2);
  }
}