.perfil {
  width: 100%;
  padding-top: 50px;
  color: var(--color-claro);
  background-color: var(--color-secundario);
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    @include titulos($fuente-2);
  }
  &__titulo {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: get-opacity(var(--color-claro-rgb), 0.5);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding-top: 12px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    @include titulos($fuente-2);
    color: var(--color-claro);
    background-color: get-opacity(var(--color-primario-rgb),.2);
    border: 2px solid get-opacity(var(--color-claro-rgb),.3);
  }
  &__minibio {
    margin: 0 auto;
    padding-top: 20px;
    h2 {
      @extend .perfil__nombre;
    }
    h3 {
      @extend .perfil__titulo;
    }
  }
}
