.ubicacion--perfil {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 90px;
  margin: 30px auto 0 auto;
  padding: 20px;
  @include caja;
  text-align: center;
  i {
    position: absolute;
    left: calc(50% - 110px);
    padding-right: 10px;
    font-size: 4rem;
    color: var(--color-variacion);
  }
  h2 {
    font-weight: 600;
    @include titulos($fuente-2);
  }
  h3 {
    @include titulos($fuente-2);
    color: get-opacity(var(--color-primario-rgb), .5);
  }
}