:root {
  --color-primario: #333333;
  --color-primario-rgb: 51, 51, 51;
  --color-claro: #ffffff;
  --color-claro-rgb: 255, 255, 255;
  --color-secundario: #8841da;
  --color-variacion: #3f579a;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.perfil {
  width: 100%;
  padding-top: 50px;
  color: var(--color-claro);
  background-color: var(--color-secundario);
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50em;
}
.perfil__nombre, .galeria h2, .perfil__minibio h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: rgba(var(--color-claro-rgb), 0.5);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding-top: 12px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: var(--color-claro);
  background-color: rgba(var(--color-primario-rgb), 0.2);
  border: 2px solid rgba(var(--color-claro-rgb), 0.3);
}
.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.estadistica--perfil {
  display: flex;
  width: 90%;
  max-width: 400px;
  height: 90px;
  padding-top: 20px;
  margin: 0 auto;
  justify-content: space-around;
  color: var(--color-primario);
  background-color: var(--color-claro);
  border-radius: 20px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
}
.estadistica--perfil h2 {
  font-weight: 600;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica--perfil span {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 90px;
  margin: 30px auto 0 auto;
  padding: 20px;
  color: var(--color-primario);
  background-color: var(--color-claro);
  border-radius: 20px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}
.ubicacion--perfil i {
  position: absolute;
  left: calc(50% - 110px);
  padding-right: 10px;
  font-size: 4rem;
  color: var(--color-variacion);
}
.ubicacion--perfil h2 {
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.ubicacion--perfil h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: rgba(var(--color-primario-rgb), 0.5);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-primario);
  background-color: var(--color-claro);
  border-radius: 20px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
}
.galeria__fotos-adicionales {
  max-width: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.galeria__fotos-adicionales img {
  height: 70px;
  margin: 5px;
}
.galeria h2 {
  width: 100%;
  margin-bottom: 20px;
}
.galeria img {
  border-radius: 10px;
}

.articulos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 75px;
  width: 100%;
  padding: 50px;
  color: var(--color-primario);
}

.articulo {
  border-bottom: 3px solid var(--color-secundario);
}
.articulo__categoria {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-secundario);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__titulo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin-bottom: 30px;
}

@media screen and (min-width: 720px) {
  .perfil {
    width: 50%;
  }

  .articulos {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
