:root {
  --fuente-base: 1.6rem;
  --fuente-mediana: 2rem;
  --fuente-grande: 2.5rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-size: var(--fuente-base);
  line-height: calc(var(--fuente-base) + 1rem);
  font-family: 'Lato', sans-serif;
}
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 50px 25px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.buscador__input {
  width: 100%;
  height: 60px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  font-size: var(--fuente-mediana);
  line-height: calc(var(--fuente-mediana) + 1rem);
}
.encabezado--con-filtros {
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
}
.encabezado--con-filtros h2 {
  max-width: 350px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--fuente-grande);
  line-height: calc(var(--fuente-grande) + 1rem);
}
.encabezado--con-filtros .filtros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.encabezado--con-filtros .filtros span {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.encabezado--con-filtros .filtros a {
  color: #333;
  font-size: 2.5rem;
}
.contenido {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
}
.caja {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.caja__imagen img {
  width: 100%;
}
.caja__contenido {
  padding: 20px;
}
.caja__contenido span {
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.caja__contenido h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--fuente-mediana);
  line-height: calc(var(--fuente-mediana) + 1rem);
}
.estadistica--articulos {
  height: 45px;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid rgba(51,51,51,0.3);
}
.estadistica--articulos ul {
  display: flex;
  justify-content: space-evenly;
}
.estadistica--articulos ul li {
  list-style: none;
  color: rgba(51,51,51,0.3);
}
.estadistica--articulos ul span {
  margin-left: 10px;
}
@media screen and (min-width: 750px) {
  :root {
    --fuente-base: 1.8rem;
    --fuente-mediana: 2.2rem;
    --fuente-grande: 4rem;
  }
  .encabezado--con-filtros {
    justify-content: space-evenly;
  }
  .encabezado--con-filtros h2 {
    width: 55%;
    max-width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --fuente-grande: 5.5rem;
  }
}
