.contenido
  flex-wrap: wrap
  justify-content: space-evenly
  gap: 30px
  contenedor()
.caja
  display: flex
  flex-wrap: wrap
  align-content: space-between
  width: 100%
  max-width: 400px
  caja-sombra()
  &__imagen
    img 
      width: 100%
  &__contenido
    padding: 20px
    span 
      color: color-secundario
      titulos(fuente-2)
    h3 
      titulos(fuente-2)
      f-size(var(--fuente-mediana))
