.estadistica--articulos
  height: 45px
  width: 100%
  padding-top: 10px
  border-top: 1px solid alpha(color-primario, .3)
  ul 
    display: flex
    justify-content: space-evenly
    li 
      list-style: none
      color: alpha(color-primario, .3)
    span 
      margin-left: 10px
