.encabezado--con-filtros
  flex-wrap: wrap
  gap: 25px
  justify-content: center
  align-items: center
  contenedor()
  h2
    max-width: 350px
    margin-top: 10px
    text-align: center
    titulos(fuente-2)
    f-size(var(--fuente-grande))
  .filtros
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 50px
    width: 100%
    max-width: 250px
    caja-sombra()
    span 
      titulos(fuente-2)
    a 
      color: color-primario
      font-size: 2.5rem