@media screen 
  @media (min-width: 750px)
    :root
      --fuente-base: 1.8rem
      --fuente-mediana: 2.2rem
      --fuente-grande: 4rem
    .encabezado--con-filtros
      justify-content: space-evenly
      h2 
        width: 55%
        max-width: 750px
  @media (min-width: 1200px)
    :root
      --fuente-grande: 5.5rem